
.architecture {
    padding: 32px var(--padding);
}

h1 {
    font-family: "Montserrat", "Serif";
    margin-bottom: 8vh;
}

p {
    font-family: "Noto Sans", "Serif";
}

h2 {
    font-family: "Ibarra Real Nova", "Serif";
}

figure {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

figure img {
    width: auto;
    max-width: 100%;
    border-radius: 3px;
}

figcaption {
    margin: 10px 0;
    font-family: "Ibarra Real Nova";
    color: #656565;
    font-style: italic;
}

figure + p {
    margin-top: 10px;
}

figcaption a {
    text-decoration: none;
    color: #656565;
}

.end {
    margin-bottom: 86px;
}

p > a {
    color: #6b1616;
    font-weight: bold;
}