
.architecture {
    padding: 32px var(--padding);
}

h1 {
    font-family: "Montserrat", "Serif";
    margin-bottom: 8vh;
}

p {
    font-family: "Noto Sans", "Serif";
}

h2 {
    font-family: "Ibarra Real Nova", "Serif";
}

figure {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.media-container, .media-container img {
    transition: all 0.4s ease;
}

.media-container img {
    width: auto;
    max-width: 100%;
    display: block;
}

.media-container {
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);
}

.media-container:hover {
    transform: translate(10px, -10px) rotate(1deg);
    cursor: zoom-in;
}

.media-container:hover img {
    transform: scale(1.1);
    filter: grayscale(0.9);
}

figcaption {
    font-size: 20px;
    margin: 15px 0 10px 0;
    font-family: "Ibarra Real Nova";
    color: #656565;
    font-style: italic;
}

figure + p {
    margin-top: 10px;
}

figcaption a {
    text-decoration: none;
    color: #656565;
}

.end {
    margin-bottom: 86px;
}

span > a {
    /* color: #6b1616; */
    color: var(--primary-color);
    font-weight: bold;
}

span > a:hover {
    color: #6b1616;
}

@media (prefers-color-scheme: dark) {

    figcaption, figcaption a {
        color: #705345;
    }
}

@media (max-width: 1000px) {
    
    figcaption {
        font-size: 16px;
    }
}
