body {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: flex-start;
}

main {
    height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    perspective: 10px;
    transform-style: preserve-3d;
}

footer.footer {
    margin-top: 0;
    height: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: transform 0.2s ease;
}

.ns__tile {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 92px;
    padding: 48px;
    background: var(--background-color);
}

.ns__tile--incendie {
    background: #411D11 !important;
}

.ns__tile--dark {
    background: #1D1D1D !important;
}

.ns__tile--colored {
    background: var(--modal-surface);
}

.ns__tile--colored h2,
.ns__tile--colored p {
    color: var(--modal-surface-text);
}

.ns__tile--incendie h2,
.ns__tile--dark h2 {
    color: #eee !important;
}

.ns__tile--incendie p,
.ns__tile--dark p {
    color: #aaa !important;
}

.ns__tile-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ns__tile-images {
    height: 100%;
    position: relative;
}

.ns__tile-images img {
    position: absolute;
}

.ns__parallax {
    height: 100%;
    transform: translateX(-240px) translateZ(-10px) scale(2);
    z-index: -1;
}

.ns__parallax+.ns__tile {
    margin-left: -480px;
}

.unmute-btn {
    display: flex;
    position: fixed;
    bottom: 32px;
    left: 22px;
    background-color: var(--navbar-background);
    align-items: center;
    gap: 12px;
    height: 56px;
    padding: 0 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    border: none;
}

.unmute-btn:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    outline: none;
}

.unmute-btn span {
    text-transform: uppercase;
    font-size: 16px;
    font-family: Noto Sans, Arial, Helvetica, sans-serif;
}