body {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: flex-start;
}

main {
    height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    perspective: 10px;
    transform-style: preserve-3d;
}

footer.footer {
    margin-top: 0;
    height: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: transform 0.2s ease;
}

.ns__tile {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 92px;
    padding: 48px;
    background: var(--background-color);
}

.ns__tile--incendie {
    background: #411D11 !important;
}

.ns__tile--dark {
    background: #1D1D1D !important;
}

.ns__tile--colored {
    background: var(--modal-surface);
}

.ns__tile--colored h2,
.ns__tile--colored p {
    color: var(--text-color);
}

.ns__tile--incendie h2,
.ns__tile--dark h2 {
    color: #eee !important;
}

.ns__tile--incendie p,
.ns__tile--dark p {
    color: #aaa !important;
}

.ns__tile-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ns__tile-images {
    height: 100%;
    position: relative;
}

.ns__tile-images img {
    position: absolute;
}

.ns__parallax {
    height: 100%;
    transform: translateX(-240px) translateZ(-10px) scale(2);
    z-index: -1;
}

.ns__parallax+.ns__tile {
    margin-left: -480px;
}

.bottom-left {
    position: fixed;
    bottom: 32px;
    left: 22px;
}

.unmute-btn {
    display: flex;
    background-color: var(--navbar-background);
    align-items: center;
    gap: 12px;
    height: 56px;
    padding: 0 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    border: none;
}

.unmute-btn:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    outline: none;
}

.unmute-btn span {
    text-transform: uppercase;
    font-size: 16px;
    font-family: Noto Sans, Arial, Helvetica, sans-serif;
    color: var(--navbar-link);
}

.unmute-btn i {
    color: var(--navbar-link);
}

.play {
    position: relative;
    display: grid;
    place-items: center;
    animation: scale-in .3s ease-in forwards;
    height: 56px;
    width: 56px;
    border-radius: 56px;
    background-color: var(--navbar-background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

.play .icon {
    position: absolute;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--navbar-link);
    fill: var(--navbar-link);
}

.play.playing .before {
    transform: rotate(-90deg) translateX(-4px);
    opacity: 0;
}

.play.playing .after {
    transform: rotate(0deg) translateX(0);
    opacity: 1;
}

.play .before {
    transform: rotate(0deg) translateX(0px);
    opacity: 1;
}

.play .after {
    transform: rotate(90deg) translateY(-2px);
    opacity: 0;
}

.play:active,
.play:focus {
    outline: none;
}

.play:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.left,
.right {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 30vw;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.left:hover button,
.right:hover button {
    transform: translateY(-50%) scale(1);
    opacity: 1;
}

.arrow-btn {
    position: fixed;
    top: 50%;
    display: grid;
    place-items: center;
    transform: translateY(-50%) scale(0);
    height: 56px;
    width: 56px;
    border-radius: 56px;
    background-color: #454545;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    transition: all 0.3s cubic-bezier(.43, 1.48, .81, .87);
    cursor: pointer;
}

.arrow-btn .material-icons-sharp {
    color: #eee;
}

.arrow-btn:active,
.arrow-btn:focus {
    outline: unset;
}

.prev {
    left: var(--padding);
}

.next {
    right: var(--padding);
}

@keyframes scale-in {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}