body {
    background-color: #000;
}

main {
    padding-left: 22px;
    padding-top: 64px;
}

.navbar {
    z-index: 4;
}

.fixed__navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.frise__header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

.frise__content {
    position: relative;
    padding-bottom: 5rem;
}

.frise__content-century {
    position: sticky;
    top: 72px;
    left: 0;
    font: 500 5rem Montserrat, Arial, sans-serif;
    color: #ddd;
}

.frise__content-details {
    margin-top: -5rem;
    margin-left: 15rem;
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 32px;
}

.frise__content:first-child .frise__content-details {
    margin-top: 0;
}

main span, main p {
    color: #fff;
    font-family: Noto Sans, Arial, sans-serif;
}

main p {
    font-size: 18px;
}

.back-to-top {
    display: grid;
    place-items: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: none;
    background-color: #131313;
    position: fixed;
    bottom: 16px;
    right: 16px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    color: #eee;
    transform: translateX(100px);
    transition: all 0.3s ease-in-out;

}

.back-to-top.visible {
    transform: translateX(0);
}

.back-to-top:hover, .back-to-top.visible:hover {
    transform: scale(1.1);
    background-color: #292929;
}

.back-to-top:focus, .back-to-top:active {
    outline: none;
}

@media (max-width: 1000px) {
    main {
        padding: 0;
    }

    .frise__content-details {
        margin-left: 0;
        grid-template-columns: 1fr;
    }

    .frise__content-century {
        display: none;
    }

    .frise__content-text {
        padding: 16px;
    }
}