.randonnee {
    display: flex;
    flex-direction: row;
    gap: 22px;
}

.rando {
    background-color: var(--navbar-background);
    padding-right: 40px;
    border-radius: 4px;
    align-content: center;
}
.rando h5 {
    margin-left: 40px;
}
.rando ul {
    list-style: none;
}

@media (max-width: 768px) {
    .randonnee {
        flex-direction: column;
        gap: 10px;
    }
}