/* Img top */

.top_img {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;

}

.img_bay_top {
    width:100%;
}

.map-logo {
    fill: gray;
}

.button_map {
    position: absolute;
    bottom:40px;
    right: 40px;
    background-color: #EEEEEE;
    height: 60px;
    width: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
}

.button_map:hover {
    background-color: #d2d2d2;
}

/* Presentation text */

.page_presentation {
    margin: 32px var(--padding);
}

.page_presentation h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 32;
    text-transform: uppercase;
}

.page_presentation p {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16;
}

/* Bay Image insertion */

.picture_gallery {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    gap: 50px; 
    overflow-x: auto;
    overflow-y: hidden;
}

.picture_gallery::-webkit-scrollbar {
    width: 10%;
}

.picture_gallery::-webkit-scrollbar-track {
    background-color: transparent;
}

.picture_gallery::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.picture_gallery:hover::-webkit-scrollbar-track {
    background-color: #f1f1f1
}

.picture_gallery:hover::-webkit-scrollbar-thumb {
    background-color: #888;
}

.picture_gallery:hover::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.picture_gallery_img {
    position: relative;
    height: 500px;
}

.picture_gallery_img:first-child {
    margin-left: var(--padding);
}

.img_legend {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:50%;
    left:50%;
    background: #0000;
    color:#FFFFFF;
    height: auto;
    width: auto;
    border-radius: 10px;
}

.img_legend div {
    display: flex;
    top:50%;
    left:50%;
    background: #2c2c2c;
    color:#FFFFFF;
    height: 30px;
    width: 30px;
    padding: 17px 17px 17px;
    border-radius: 7px;
    opacity: 1;
    align-items: center;
    justify-content: center;
    box-shadow:  0px 0px 3px #202020,
             0px 0px 3px #303030;
}

.img_legend p {
    opacity: 0;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    margin: 30px 30px 30px 30px;
}

.img_legend:hover {
    background: #2c2c2c;
    opacity: 0.7;
}

.img_legend:hover p {
    color: #FFF;
    opacity: 1;
    
}

.img_legend:hover div {
    box-shadow:  0px 0px 3px transparent,
             0px 0px 3px transparent;

}

/* Picture Advice */

.picture_advice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    margin-bottom: 50px;
    gap: 50px;
    background-color: var(--primary-color-light-transparent);
    width: auto;
    height: auto;
}

.picture_advice img {
    width: 100%; 
    height: 100%; 
    object-fit:cover;
}

.picture_advice div {
    margin-top: 30px;
    width: 100%;
    padding-bottom: 30px;  
}

.picture_advice div h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 50px;
}

.picture_advice_legend {
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-column-gap: 70px;
    grid-row-gap: 22px;
    align-items: center;
    justify-content: center;
}

.picture_advice_legend svg {
    width: 56px;
    height: 56px;
}

.picture_advice_legend p {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    max-width: 500px;
    color: var(--text-color);
}

@media (max-width: 768px) {
    .picture_advice {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 10%;
    }

    .picture_advice_legend {
        gap: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .picture_advice_legend svg {
        width: 40px;
        height: 40px;
    }

    .picture_advice_legend p {
        font-size: 16px;

    }

    .picture_advice div h2 {
        font-size: 26px;
        margin-bottom: 30px;
        padding-left: 30px;
    }
}

/* Flickr Post */

.flickrgallery {
    display: flex;
    flex-direction: row;
    gap: 50px; 
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 100px;
}

.flickrpost {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    width: 352px;
    height: 522px;
    max-height: 600px;
    align-items: center;
    justify-content: center;
    background: var(--navbar-locale-hover);
}

.flickrpost p {
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

    margin-top: 30px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    max-width: 352;
    width: auto;
    height: auto;

    color: var(--title-color);
}
