#map {
    height: 100%;
    width: 100%;
}

.map-cta {
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 9998;
}

.map-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    background-color: #fff;
    box-shadow: 0 0 0 rgba(0,0,0,0.5);
    transform: translateX(-100%) rotate(10deg) scale(0.8);
    transform-origin: top left;
    transition: transform 0.35s cubic-bezier(.21,.03,0,.96);
    z-index: 9999;
}

.map-modal--open {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transform: translateX(0) rotate(0deg) scale(1);
}

.map-modal__images {
    display: flex;
    overflow-x: scroll;
    height: 220px;
}

.map-modal__image {
    width: auto;
    height: 100%;
}

.map-modal__title {
    margin: 16px;
    margin-bottom: 4px;
    font-size: 22px;
}

.map-modal__review-box {
    margin-left: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.map-modal__review-note {
    font-size: 12px;
    font-family: Noto Sans, sans-serif;
    color: #828282;
}

.map-modal__stars {
    width: fit-content;
    position: relative;
}

.map-modal__stars-row {
    display: flex;
}

.map-modal__stars-row--filled {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.map-modal__star {
    color: rgba(150,150,150,.2);
    font-size: 12px;
}

.map-modal__star--filled {
    color: #fbbc04;
}

.map-modal__description {
    margin: 16px;
}

.map-modal__buttons {
    margin: 0 16px;
    display: flex;
    gap: 8px;
}

.map-modal__notice {
    margin: 16px;
    font-size: 12px;
    font-family: Noto Sans, sans-serif;
    color: #828282;
}

@media screen and (max-width: 768px) {
    .map-modal {
        top: 340px;
        bottom: 0;
        width: 100%;
        transform: translateY(100%);
    }

    .map-modal--open {
        transform: translateY(0);
    }
}