
.team-main {
    background-color: var(--primary-color);
}

.team {
    margin: 0 auto;
    border: 0px;
    margin-left: var(--padding);
}

.team div {
    margin-bottom: 50px;
}

.contenair {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bloc {
    display: flex;
    flex-direction: row;
    grid-column-gap: 20px;
}

.box-shadow-img {
    width: 15px;
    height: 15px;
}

/*
.box-content-left, .box-content-right {
    text-align: center;
}
*/

.box-content-left ul {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: var(--text-color);
    text-align: center;
    justify-content: center;
}

.box-content-left ul li {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    grid-column-gap: 10px;
    color: rgb(234, 234, 234);
}

.box-content-right ul {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: var(--text-color);
    justify-content: center;
}

.box-content-right ul li {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    grid-column-gap: 10px;
}
