
.team {
    display: table;
    margin: 0 auto;
    border: 0px;
}

div {
    margin-bottom: 50px;
}

ul {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: var(--text-color);
}

ul li {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    grid-column-gap: 10px;
}