.vr {
    height: 100vh;
    width: 100vw;
}

.vr__3D {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

.vr__modal {
    position: fixed;
    padding: 22px;
    top: 32px;
    right: 32px;
    width: 33%;
    min-width: 380px;
    max-width: calc(100% - 64px);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: scale(0);
    transform-origin: 80% 20%;
    transition: transform .3s cubic-bezier(.72,.06,.56,1.15), opacity .3s ease;
}

.vr__modal.show {
    transform: scale(1);
    opacity: 1;
}

.vr__modal-header {
    display: flex;
    align-items: center;
    gap: 12px;   
}

.vr__modal-header-title {
    font: 500 22px Montserrat, sans-serif;
}

.vr__modal-header-progress {
    font: 500 14px Montserrat, sans-serif;
    color: #aaa;
}

.vrslider {
    margin-top: 22px;
    display: flex;
    align-items: center;
    height: 320px;
    width: 100%;
    overflow-x: scroll;
    border-radius: 6px;
}

.vrslider__img {
    height: 100%;
    width: auto;
}

.vr__buttons {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

.vr__buttons-button {
    font-size: 32px;
    color: #fff;
    background-color: #343434;
    border-radius: 50%;
    border: none;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.vr__buttons-button:hover, .vr__buttons-button:active, .vr__buttons-button:focus {
    background-color: #444;
    outline: none;
}

.vr__attribution {
    position: fixed;
    bottom: 32px;
    left: 32px;
    font: 400 14px Noto Sans, sans-serif;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    text-decoration: none;
    cursor: help;
}

.vr__attribution:hover {
    text-decoration: underline;
}

@media screen and (max-width: 799px) {
    .hide-on-small {
        display: none;
    }

    .vr__modal, .vr__modal.show {
        top: unset;
        left: 0;
        bottom: 0;
        padding-top: 0;
        min-width: unset;
        max-width: unset;
        width: 100%;
        border-radius: 8px 8px 0 0;
        opacity: 1;
        transform: translateY(calc(100% - 64px));
    }

    .vr__modal.show:hover, .vr__modal.show:active, .vr__modal.show:focus {
        transform: translateY(0);
    }

    .vrslider {
        height: 180px;
    }

    .vr__attribution {
        top: 32px;
        bottom: unset;
    }

    .vr__modal-header {
        display: grid;
        align-items: center;
        height: 64px;
        grid-template-columns: 48px 1fr 48px 48px;
    }

    .vr__modal-header-title {
        font-size: 18px;
    }

    .vr__modal-header-button {
        height: 28px;
        width: 28px;
        font-size: 28px;
        color: #898989;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .vr__modal-header-button:focus {
        outline: none;
    }
}

@media screen and (min-width: 800px) {
    .hide-on-large {
        display: none;
    }
}