.vr {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.vr__3D {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: all;
    transition: transform .6s cubic-bezier(.94, .01, .58, .88);
    cursor: zoom-in;
}

.vr__3D.zoomed {
    transform: scale(2.5);
}

.vr__streetview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    transform: scale(1);
    opacity: 1;
    transition: transform .4s cubic-bezier(.94, .01, .58, .88), opacity .4s cubic-bezier(.79, .05, .82, .54);
}

.vr__streetview.hidden {
    transform: scale(0.7);
    opacity: 0;
}

.vr__exitstreetview {
    position: fixed;
    bottom: 16px;
    left: 16px;
    z-index: 101;
    display: flex;
    align-items: center;
    gap: 12px;
    height: 42px;
    padding: 0 16px;
    background-color: var(--background-color);
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 2px;
}

.vr__exitstreetview .material-icons-sharp,
.vr__exitstreetview span {
    color: var(--text-color);
    text-transform: uppercase;
}

.vr__exitstreetview span {
    font-size: 18px;
}

.vr__modal {
    position: fixed;
    padding: 22px;
    top: 32px;
    right: 32px;
    width: 33%;
    min-width: 380px;
    max-height: calc(100% - 64px);
    overflow-y: auto;
    background-color: var(--modal-surface);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: scale(0);
    transform-origin: 80% 20%;
    transition: transform .3s cubic-bezier(.72, .06, .56, 1.15), opacity .3s ease;
    z-index: 3;
}

.vr__modal.show {
    transform: scale(1);
    opacity: 1;
}

.vr__modal-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.vr__modal-header-title {
    font: 500 22px Montserrat, sans-serif;
}

.vr__modal-header-progress {
    font: 500 14px Montserrat, sans-serif;
    color: #aaa;
}

.vrslider {
    margin-top: 22px;
    display: flex;
    align-items: center;
    height: 320px;
    width: 100%;
    overflow-x: scroll;
    border-radius: 6px;
}

.vrslider__img {
    height: 100%;
    width: auto;
}

.vr__loader {
    position: fixed;
    display: grid;
    place-items: center;
    inset: 0;
    opacity: 0;
    transition: opacity .2s ease;
    z-index: 1;
}

.vr__loader.show {
    opacity: 1;
}

.vr__buttons {
    direction: ltr;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

.vr__buttons-button,
.vr__back-button {
    font-size: 32px;
    color: #fff;
    background-color: #343434;
    border-radius: 50%;
    border: none;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.vr__buttons-button {
    transform: scale(1);
    transition: transform .3s cubic-bezier(.47, 1.68, .69, .85);
}

.vr__buttons-button.hidden {
    transform: scale(0);
}

.vr__back-button {
    display: grid;
    place-items: center;
    text-decoration: none;
    z-index: 3;
}

.vr__buttons-button:hover {
    background-color: #4a4a4a;
    outline: none;
}

.vr__buttons-button:active,
.vr__buttons-button:focus {
    background-color: #777;
    outline: none;
}

.vr__attribution {
    position: fixed;
    bottom: 32px;
    left: 32px;
    font: 400 14px Noto Sans, sans-serif;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    text-decoration: none;
    cursor: help;
}

.vr__attribution:hover {
    text-decoration: underline;
}

.vr__back-button {
    position: fixed;
    top: 32px;
    left: 32px;
    background-color: var(--modal-surface);
    color: var(--text-color);
    width: 48px;
    height: 48px;
    font-size: 18px;
    padding: 0px;
    line-height: 24px;
}

@media screen and (max-width: 799px) {
    .hide-on-small {
        display: none;
    }

    .vr__modal,
    .vr__modal.show {
        top: unset;
        left: 0;
        bottom: 0;
        padding-top: 0;
        min-width: unset;
        max-width: unset;
        width: 100%;
        border-radius: 8px 8px 0 0;
        opacity: 1;
        transform: translateY(calc(100% - 64px));
    }

    .vr__modal.show:hover,
    .vr__modal.show:active,
    .vr__modal.show:focus {
        transform: translateY(0);
    }

    .vrslider {
        height: 180px;
    }

    .vr__attribution {
        top: 32px;
        bottom: unset;
        left: unset;
        right: 32px;
    }

    .vr__modal-header {
        display: grid;
        align-items: center;
        height: 64px;
        grid-template-columns: 48px 1fr 48px 48px;
    }

    .vr__back-button {
        top: 16px;
        left: 16px;
        height: 48px;
        width: 48px;
        padding: unset;
        font-size: 26px;
    }

    .vr__modal-header-title {
        font-size: 18px;
    }

    .vr__modal-header-button {
        height: 28px;
        width: 28px;
        font-size: 28px;
        color: #898989;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .vr__modal-header-button:focus {
        outline: none;
    }
}


@media screen and (min-width: 800px) {
    .hide-on-large {
        display: none;
    }
}