:root {
    --padding: 16px;
    --primary-color: #B94503;
    --primary-color-light: #db8a3f;
    --primary-color-light-transparent: #db8a3f30;
    --valid: #34A853;
    --error: #EA4335;
    --background-color: #fafafa;
    --navbar-background: #fff;
    --navbar-link: #545454;
    --navbar-locale-hover: #eee;
    --title-color: #201A18;
    --text-color: #52433E;
    --btn-outlined: #000;
    --footer-background: #fff5f1;
    --modal-surface: #EDE0DC;
    --input-surface: #FFEDE6;
    --svg-color: #A87C63;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #fda984;
        --primary-color-light: #FFB595;
        --primary-color-light-transparent: #442A1F20;
        --error: #930006;
        --background-color: #161413;
        --navbar-background: #201A18;
        --navbar-link: #D8C2BA;
        --navbar-locale-hover: #685752;
        --title-color: #EDE0DC;
        --text-color: #EDE0DC;
        --btn-outlined: #D8C2BA;
        --footer-background: #0e0d0d;
        --modal-surface: #201A18;
        --input-surface: #260800;
        --svg-color: #875f47;
        color-scheme: dark;
    }
}

@media screen and (min-width: 800px) {
    :root {
        --padding: 10vw;
    }
}

@media screen and (min-width: 1100px) {
    :root {
        --padding: calc((100vw - 1056px) / 2);
    }
}

* {
    box-sizing: border-box;
}

*::selection {
    background-color: var(--primary-color-light);
    color: var(--background-color);
}

*:focus {
    outline: 2px dashed #000;
    outline-offset: 6px;
}

@media (prefers-color-scheme: dark) {
    *:focus {
        outline: 2px dashed #fff;
        outline-offset: 6px;
    }
}

/* Mise en forme texte par défaut */
p {
    font: 400 16px Noto Sans, sans-serif;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, Arial, sans-serif;
    color: var(--title-color);
}

.material-icons-sharp {
    user-select: none;
    font-family: 'Material Symbols Sharp';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' -25,
        'opsz' 40
}

.translation-icon,
.search-icon {
    transition: color 0.25s ease-in-out;
    color: var(--navbar-link);
}

.translation-icon:hover,
.search-icon:hover {
    color: var(--primary-color);
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.main-padding {
    padding: 32px var(--padding);
}

/* Menu d'accessibilité */
.accessibility-menu {
    position: absolute;
    top: -10em;
    z-index: 100;
}

.accessibility-menu a {
    position: absolute;
    left: 16px;
    padding: 16px;
    width: 250px;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.20);
    border-radius: 2px;
    font: 400 16px Noto Sans, sans-serif;
}

.accessibility-menu a:focus {
    top: 10em;
    outline-offset: -8px;
}

/* buttons */
.btn {
    display: inline-flex;
    align-items: center;
    height: 42px;
    padding: 0 32px;
    border: 1px solid var(--btn-outlined);
    border-radius: 21px;
    font: 700 12px Montserrat, sans-serif;
    text-decoration: none;
    color: var(--btn-outlined);
    background-color: transparent;
    cursor: pointer;
    transition: box-shadow .12s ease-in-out;
    user-select: none;
}

.btn--primary {
    border: none;
    background: var(--primary-color);
    background: linear-gradient(135deg, #B94503 0%, #B94503 48%, #BD5012 48%, #BD5012 50%, #C15A20 50%, #C15A20 55%, #B94503 55%, #B94503 100%);
    color: #fff;
    background-position: 90% 0%;
    background-size: 300% 100%;
}

.btn--primary:hover {
    box-shadow: 0 0 0 5px var(--primary-color-light-transparent);
    animation: btn-primary-hover .8s ease-in-out forwards;
}

@keyframes btn-primary-hover {
    from {
        background-position: 90% 0%;
    }

    to {
        background-position: 10% 0%;
    }
}

.btn--large {
    height: 56px;
    padding: 0 40px;
    font-size: 16px;
    border-radius: 28px;
}

.btn--white {
    border-color: #fff;
    color: #fff;
}

.btn--white:hover {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
}

.btn--iconleft i {
    margin-right: 8px;
}

.btn--iconright i {
    margin-left: 8px;
}

/* cartes activités */
.card {
    display: block;
    position: relative;
    overflow: hidden;
}

.card__media {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #E0D6CA;
}

.card__media-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.03);
    transition: transform .9s cubic-bezier(.31, .28, .19, .92);
    user-select: none;
}

.card:hover .card__media-img {
    transform: scale(1);
}

.card__shadow {
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 49.27%, rgba(0, 0, 0, 0.8) 100%);
    border-radius: 4px;
}

.card__text {
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    color: #fff;
}

.card__text-label {
    font: 700 11px Montserrat, sans-serif;
    text-transform: uppercase;
}

.card__text-title {
    font: 400 28px Ibarra Real Nova, serif;
    text-transform: uppercase;
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
}

/* scroll indicator */
#js-scroll_indicator {
    background: var(--navbar-link);
    transition: width .2s ease;
}

@keyframes bar-enter {
    0% {
        transform: translateY(-60px);
    }

    100% {
        transform: translateY(0);
    }
}

/* bannière covid */
.covid {
    background-color: #CF4845;
    padding: 22px var(--padding) 22px 0;
    display: grid;
    grid-template-columns: var(--padding) 1fr;
}

.covid__icon {
    position: relative;
}

.covid__icon i {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.covid__content-title {
    font: 700 18px Montserrat, sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.covid__content-text {
    font: 400 14px Noto Sans, sans-serif;
    color: #fff;
}

/* événements */
.event {
    position: relative;
    padding: 12px var(--padding);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.event__text {
    color: #fff;
    padding-bottom: 22px;
}

.event__text-title {
    font: 400 42px Ibarra Real Nova, serif;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.event__text-details {
    font: 400 16px Noto Sans, sans-serif;
    margin-bottom: 48px;
    color: #fff;
}

@media screen and (min-width: 800px) {
    .event__text {
        width: 50%;
    }
}

/* navbar */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 48px var(--padding);
}

.js-navbar-placeholder {
    width: 100%;
    height: 124px;
    display: none;
}

.navbar--white .navbar__links-link {
    color: #fff;
}

.navbar--white .navbar__icons i,
.navbar--white .navbar__menu {
    color: #fff;
    cursor: pointer;
}

.navbar--open {
    position: fixed;
    top: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--navbar-background);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.20);
    animation: navbar-enter .3s ease-in-out forwards;
    z-index: 10;
}

.navbar--open+.js-navbar-placeholder {
    display: block;
}

.navbar--open .navbar__links-link,
.navbar--open .navbar__icons i,
.navbar--open .navbar__menu {
    color: var(--navbar-link);
}

.navbar--open.navbar--open-black {
    background-color: #131313;
}

.navbar--open.navbar--open-black .navbar__links-link,
.navbar--open.navbar--open-black .navbar__icons i,
.navbar--open.navbar--open-black .navbar__menu {
    color: #fff;
}

.navbar--open.navbar--open-black a:hover,
.navbar--open.navbar--open-black .navbar__icons i:hover {
    color: var(--primary-color-light);
}


@keyframes navbar-enter {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.navbar__menu {
    border: none;
    background: transparent;
    color: var(--navbar-link);
    display: none;
}

.navbar__icons {
    display: flex;
    align-items: center;
    gap: 22px;
}

.navbar__links {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 78px;
}

.navbar__links-link {
    text-decoration: none;
    font: 400 18px Noto Sans, sans-serif;
    transition: color .25s ease-in-out;
    color: var(--navbar-link);
}

.navbar__links-link:hover,
.navbar__icon i:hover {
    color: var(--primary-color);
}

.navbar__icon {
    position: relative;
}

.navbar__icons i {
    cursor: pointer;
}

.search {
    background-color: var(--navbar-background);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.20);
    transform: translateY(-110%);
    transition: transform .25s ease-in-out;
}

.search--open {
    transform: translateY(0);
}

.search__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    padding: 0 var(--padding);
}

.search__input {
    height: 100%;
    width: 100%;
    border: none;
    padding: 16px 0;
    font-family: Noto Sans, Arial, sans-serif;
    font-size: 16px;
    z-index: 101;
    background-color: transparent;
}

.search__input:focus,
.search__input:active {
    outline: none;
}

.search__btn {
    width: 56px;
    height: 56px;
    min-width: 56px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .1s ease;
}

.search__btn:hover {
    background-color: var(--primary-color-light-transparent);
}

.search__btn i {
    color: var(--navbar-link);
}

.search__textzone {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.search__nextword {
    position: absolute;
    top: 16px;
    left: 0;
    font: 400 16px Noto Sans, sans-serif;
    color: var(--navbar-link);
    z-index: 100;
}

.search__placeholder {
    opacity: 0;
    display: inline-block;
}

.search__nextword i {
    font-size: 16px;
    opacity: 0.7;
}

.search__dropdown {
    margin: 0;
    padding: 0;
    list-style: none;
}

.search__dropdown a {
    display: grid;
    align-items: center;
    grid-template-columns: 56px 1fr;
}

.search__dropdown a {
    padding: 12px var(--padding);
    text-decoration: none;
    color: var(--navbar-link);
}

.search__dropdown .not-found {
    display: block;
    padding: 12px var(--padding);
}

.search__dropdown a:hover,
.search__dropdown a:focus {
    background-color: var(--primary-color-light-transparent);
}

.search__dropdown i {
    font-size: 28px;
}

.search__dropdown span {
    font: 400 18px Noto Sans, sans-serif;
}

.search-backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    inset: 0;
    z-index: 98;
}

@media screen and (max-width: 900px) {
    .navbar {
        align-items: flex-start;
        gap: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .js-navbar-placeholder {
        height: 52px;
    }

    .navbar__menu {
        display: block;
        transition: transform .2s ease-in-out;
    }

    .navbar__menu:hover,
    .navbar__menu:focus {
        transform: rotate(90deg);
        outline: none;
    }

    .navbar__links {
        display: none;
        flex-direction: column;
        gap: 16px;
    }

    .navbar__menu:hover+.navbar__links,
    .navbar__menu:focus+.navbar__links,
    .navbar__links:hover {
        display: flex;
        animation: navbar-links-enter .3s ease-in-out forwards;
    }

    @keyframes navbar-links-enter {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.locale-selector {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--navbar-background);
    list-style: none;
    border-radius: 2px;
    transform-origin: top right;
    transform: scale(0);
    transition: transform .2s ease;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.20);
}

.locale-selector--black {
    background-color: #131313;
}

.locale-selector.js-open {
    transform: scale(1);
}

.locale-selector.js-open .locale-selector__region {
    animation: delayed-fadein .2s ease-in-out .15s forwards;
}


@keyframes delayed-fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.locale-selector__region {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s ease;
}

.locale-selector__clickable {
    display: contents;
    text-decoration: none;
}

.locale-selector__region:hover {
    background-color: var(--navbar-locale-hover);
}

.locale-selector__region--black:hover {
    background-color: #0a0a0a;
}


.locale-selector__region-flag {
    width: 22px;
    height: auto;
}

.locale-selector__region-name {
    font: 400 18px Noto Sans, sans-serif;
    color: var(--navbar-link);
}

.locale-selector__region-name--black {
    color: #fff;
}

/* footer */
.footer {
    margin-top: 150px;
    padding: 70px var(--padding) 10px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: var(--footer-background);
}

.footer__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.footer__col-wrap {
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.footer_section {
    font-size: 35px;
    font-family: Ibarra Real Nova, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-block-start: 0.4em;
    width: fit-content;
}

.footer_section::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: var(--primary-color);
    transition: width .4s ease;
}

.footer_section:hover::after {
    width: 100%;
}

.footer__col {
    width: 50%;
}

.bar {
    border: 1px dashed var(--text-color);
}

.footer__col-title {
    font: 400 28px Ibarra Real Nova, serif;
    text-transform: uppercase;
    margin-top: 0;
}

.footer__col-text {
    margin-bottom: 0;
}

.footer__col--links {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer__col-link {
    width: fit-content;
    text-decoration: none;
    font: 400 20px Noto Sans, sans-serif;
    color: var(--navbar-link);
}

.footer__col-link::after {
    content: "";
    display: block;
    opacity: 0;
    transform: translateY(-10px);
    height: 3px;
    border-bottom: 2px dotted var(--navbar-link);
    transition: all .2s ease;
}

.footer__col-link:hover::after {
    /* width: 100%; */
    opacity: 1;
    transform: translateY(-2px);
}

.partnersflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.partnersflex img {
    filter: grayscale(1);
    transition: filter .3s ease;
}

.partnersflex img:hover {
    filter: none;
}

.img_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 48px;
}

.img_row .noir {
    filter: brightness(40%);
}

.img_row .noir:hover {
    filter: brightness(0%);
}

@media (prefers-color-scheme: dark) {
    .img_row .noir {
        filter: brightness(40%);
    }

    .img_row .noir:hover {
        filter: brightness(100%);
    }
}

.copyright__footer {
    position: relative;
    bottom: 0;
    text-align: center;
    font-size: 20px;
}

@media (max-width: 1200px) {
    .img_row img {
        height: 42px;
        width: auto;
    }
}

@media (max-width: 1000px) {
    .img_row {
        display: block;
    }

    .img_row img {
        margin-top: 22px;
    }

    .partnersflex {
        gap: 0px;
    }
}

@media (max-width: 800px) {
    .footer__col-wrap {
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer h3 {
        font-size: 22px;
    }
}

/* menus */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 320px;
    background: #000;
    z-index: 100;
    transform: translate3D(0, -100%, 0);
    transition: transform .25s cubic-bezier(.42, .1, .13, .98);
}

.menu__backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: none;
}

.menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 22px;
    padding-bottom: 16px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 16px;
    justify-content: center;
    height: 100%;
}

.menu__list-item {
    margin-left: 16px;
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    height: 100%;
    width: 450px;
}

.menu__list-item:first-child {
    margin-left: 32px;
}

.menu__list-item:last-child {
    margin-right: 32px;
}

.menu__list-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.menu__list-item-shadow {
    position: absolute;
    inset: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 2px;
    opacity: 1;
    transition: opacity .2s ease;
}

.menu__list-item:hover .menu__list-item-shadow {
    opacity: 0.5;
}

.menu__list-item-title {
    display: block;
    margin: 0;
    position: absolute;
    bottom: 18px;
    left: 18px;
    color: #fff;
    font: 400 36px Ibarra Real Nova, serif;
    white-space: normal;
    text-transform: uppercase;
    text-align: left;
    z-index: 101;
}

.menu__list::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.menu__list::-webkit-scrollbar-thumb {
    background: #676767;
    border-radius: 8px;
    border: 4px solid #000;
}

.menu__list::-webkit-scrollbar-thumb:hover {
    background: #898989;
    border-radius: 8px;
    border: 4px solid #000;
}

.menu__list::-webkit-scrollbar-track {
    background: #000;
}

.open+.menu__backdrop {
    display: block;
}

.open.menu {
    transform: translate3D(0, 0, 0);
}

/* quizz */
.quizz {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 32px;
}

.quizz__content {
    max-width: 560px;
}

.quizz__content-question {
    font: 400 24px Ibarra Real Nova, serif;
}

.quizz__content-answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.quizz__content-answers-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 42px;
    border-radius: 21px;
    gap: 12px;
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color .2s ease;
    border: 2px solid rgba(0, 0, 0, 0.2);
    font-family: Noto Sans, Arial, sans-serif;
}

.quizz__content-answers-btn:hover,
.btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.quizz__content-answers-btn.correct {
    background-color: var(--valid);
    border: 2px solid var(--valid);
    color: #fff;
}

.quizz__content-answers-btn.incorrect {
    background-color: var(--error);
    border: 2px solid var(--error);
    color: #fff;
}

.quizz__content-answers-btn[aria-disabled=true] {
    pointer-events: none;
    user-select: none;
}

.quizz__content-readmore {
    margin-top: 32px;
    opacity: 0;
    transition: opacity .2s ease;
}

.quizz__content-readmore-buttons {
    margin-top: 42px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}

.quizz__content-readmore.open {
    opacity: 1;
}

.quizz__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
    background-color: #eee;
}

.js-blur {
    filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='1' height='1'%3E%3CfeGaussianBlur stdDeviation='12' result='b'/%3E%3CfeMorphology operator='dilate' radius='12'/%3E %3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E%3C/svg%3E#a");
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

progress::-webkit-progress-value {
    transition: width 0.5s ease;
}

@media screen and (max-width: 768px) {
    .quizz {
        grid-template-columns: 1fr;
    }

    .quizz__image {
        grid-column-start: 1;
        grid-row-start: 1;
    }
}

.loader {
    display: inline-block;
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    box-sizing: border-box;
    border: 4rem solid var(--primary-color);
    clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    animation: 1.6s to-loader linear infinite;
    background: none !important;
}

.loader.small {
    width: 24px;
    height: 24px;
    border-width: 3px;
}

.loader.medium {
    width: 40px;
    height: 40px;
    border-width: 4px;
}

.loader.large {
    width: 56px;
    height: 56px;
    border-width: 5px;
}

.loader.white {
    border-color: #ffffff !important;
}

@keyframes to-loader {
    0% {
        transform: rotate(0deg);
        clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }

    20% {
        clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%);
    }

    30% {
        clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 50% 100%, 50% 100%);
    }

    40% {
        clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%);
    }

    50% {
        clip-path: polygon(50% 50%, 50% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%);
    }

    60% {
        clip-path: polygon(50% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%);
    }

    70% {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%, 0% 50%);
    }

    80% {
        clip-path: polygon(50% 50%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 50%);
    }

    90% {
        transform: rotate(360deg);
        clip-path: polygon(50% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%);
    }

    100% {
        clip-path: polygon(50% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%);
    }
}

.image-carousel {
    position: relative;
    width: 100%;
    overflow-y: hidden;
}

.image-carousel img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    transform: height .3s ease-out, transform .3s ease-in-out, opacity .3s ease;
}

.image-carousel__button {
    position: absolute;
    width: 52px;
    height: 52px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    background: transparent;
    border: none;
    font-size: 36px;
    border-radius: 50%;
    cursor: pointer;
}

.image-carousel__button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.image-carousel__button:focus {
    outline: none;
    color: #ddd;
}

.image-carousel__button--prev {
    left: 16px;
}

.image-carousel__button--next {
    right: 16px;
}

.image-carousel span {
    font: 400 11px Noto Sans, sans-serif;
}


/* galerie d'images */
.collections {
    /* border: 2px solid rgb(206, 13, 196); */

    margin-top: 20px;
    padding: 30px;
    display: block;
    overflow: hidden;
}

.collection-h1 {
    padding-left: calc(var(--padding) - 20px);
}

.collection__img-wrap {
    /* border: 1px solid blue; */

    display: flex;
    width: fit-content;
    gap: 40px;
    padding-right: 20px;
    animation: gallery 40s cubic-bezier(.3, 0, .7, 1) infinite alternate forwards;
}

.pause {
    animation-play-state: paused;
}

@keyframes gallery {

    0%,
    2% {
        transform: translateX(0);
    }

    98%,
    100% {
        transform: translateX(calc((-100% + 100vw) - 20px));
    }
}

.collection__img-wrap img {
    width: 300px;
    object-fit: cover;
    transition: all .2s ease;
    filter: drop-shadow(8px 15px 8px rgb(0 0 0 / 30%));
    border-radius: 3px;
}

.collection__img-wrap img:hover {
    transform: scale(1.05);
    opacity: .8;
    cursor: zoom-in;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    /* display: none; */
    display: block;
    visibility: hidden;

    z-index: 1;
}

.modal_active {
    animation: fadein-modal 0.4s cubic-bezier(.25, .75, .5, 1.25) alternate;
}

.modal-inner_active {
    opacity: 0;
    animation: inner 0.4s 0.2s ease forwards;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    visibility: hidden;

    background: rgb(255, 247, 242);
    border-radius: 5px;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all .3s ease;
}

.modal-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes fadein-modal {
    0% {
        opacity: 0;
        transform: translate(-50%, -43%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes inner {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.modal img {
    margin: 0.5em;
    border-radius: 5px;
}

.modal .caption {
    margin: 1em;
}

.caption {
    font: 400 18px Noto Sans, sans-serif;
    color: #000;
}

.modal-bar {
    width: 100%;
    height: 1px;
    background: #cacaca;
}

.js-draggable::-webkit-scrollbar {
    /* display: none; */
}

.draggable-area {
    cursor: grab;
}

.draggable-area.grabbing {
    cursor: grabbing;
    user-select: none;
}

.draggable-area.grabbing * {
    user-drag: none;
    user-select: none;
    pointer-events: none;
}

/* FancyAlert */
.alertwrapper {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 400 16px Noto Sans, Arial, sans-serif;
}

.copy {
    font-family: 'Noto Sans', sans-serif;
    width: fit-content;
    padding: 15px 20px;
    background: #f4e5d7;
    border-radius: 5px;
    color: #894200;
    display: flex;
    align-items: center;
    gap: 8px;
    pointer-events: none;
    border-left: 4px solid;

    animation: copy 1.4s 2 ease alternate forwards;
}

@keyframes copy {

    0% {
        transform: translateY(15vh);
    }

    30% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

/* MEDIA QUERIES */
@media (prefers-color-scheme: dark) {
    .modal {
        /* background: #131313; */
        background: var(--navbar-background);
    }

    .modal-bar {
        background: #000;
    }

    .caption {
        color: var(--title-color);
    }
}

@media (max-width: 1000px) {
    .modal-inner img {
        margin: 1em;
        width: -webkit-fill-available;
    }

    .modal .caption {
        margin: 0.5em;
    }

    .caption {
        font-size: 16px;
    }

    @keyframes fadein-modal {
        0% {
            opacity: 0;
            transform: translate(-50%, 0%);
        }

        100% {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }
}

@media (max-width: 800px) {
    .modal {
        width: 85vw;
    }

    .modal-inner img {
        margin: 0.5em;
        /* width: -webkit-fill-available; */
    }

    .modal .caption {
        margin: 0.5em;
    }

    .caption {
        font-size: 16px;
    }

}

@media (max-width: 768px) {
    .modal {
        width: 85vw;
    }

    .modal-inner img {
        margin: 0.5em;
        width: -webkit-fill-available;
    }

    .modal .caption {
        margin: 0.5em;
    }

    .caption {
        font-size: 23px;
    }

    @keyframes fadein-modal {
        0% {
            opacity: 0;
            transform: translate(-50%, 0%);
        }

        100% {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }

}


@media (max-width: 375px) {
    .modal {
        width: 85vw;
    }

    .modal-inner img {
        margin: 0.5em;
        width: -webkit-fill-available;
    }

    .modal .caption {
        margin: 0.5em;
    }

    .caption {
        font-size: 16px;
    }

    @keyframes fadein-modal {
        0% {
            opacity: 0;
            transform: translate(-50%, 0%);
        }

        100% {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }

}